.contacts {
    width: 100%;
    min-height: 550px;
    margin-top: 135px;
    &__content {
        max-width: 1160px;
        min-height: 520px;
        width: 100%;
        margin: 0 auto;
        @include flex(space-between, flex-start);
    }

    &__info {
        max-width: 455px;
        width: 100%;
    }

    &__get {
        max-width: 630px;
        width: 100%;
        margin-top: 5px;
    }
}

.info {
    padding: 0 10px;
    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 40px;
    }
}

.get {

    &__subtitle {
        margin-bottom: 35px;
    }

    &__links {
        @include flex(space-between, flex-start);
        margin-bottom: 60px;
        max-height: 346px;
    }

    &__title {
        max-width: 182px;
        width: 100%;
    }

    &__list {
        @include flex(space-between, flex-end);
        flex-direction: column;
        min-height: 346px;

    }

    &__list-elem {
        width: 356px;
        height: 90px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 120px;
        @include flex(center, center);
        position: relative;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        cursor: pointer;
    }

    &__list-elem:hover {
        background: linear-gradient(90deg, rgba(34, 206, 217, 0.8) 0%, rgba(0, 239, 255, 0.06) 100%);
    }

    &__list-img {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        width: auto;
    }

    &__form {
        @include flex(space-between, flex-end);

    }

    &__label {
        width: 240px;
        height: 54px;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #FFFFFF;
        @include flex('', center);
    }

    &__tel {
        width: 264px;
        height: 54px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.7);
        padding: 20px 17px;
        outline: none;
        border: none;
    }

    &__btn {
        @include btn-standart(78px, 18px 20px);
        font-size: 12px;
        background: transparent;
    }

    &__successfull {
        height: 54px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 356px;
    }

    &__successfull-text {
        font-size: 18px;
        font-family: "Gilroy-Regular";
    }
}

@media (max-width: 1280px) {
    .contacts {

		&__container {
            padding-right: 0;
		}

		&__content {
            margin: 0 0 0 auto;
		}

    }

    .info {

		&__title {
            font-size: 32px;
		}

		&__text {
            font-size: 20px;
		}
    }
    .get {
		&__list-elem {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
		}

		&__form {
            margin-right: 20px;
		}

		&__label {
            margin-right: 20px;
		}

		&__tel {
            max-width: 220px;
            margin-right: 20px;
		}
    }
}
@media (max-width: 920px) {
    .contacts {
        margin-top: 50px;
		&__container {
            padding: 0 0 0 15px;
		}

		&__content {
            flex-direction: column;
            align-items: flex-end;
            padding: 0 0 0 0;
		}
    }

    .info {
        width: 100%;
        max-width: 100%;
        padding: 0 10px 0 0;
		&__title {
            margin-bottom: 10px;
		}

		&__text {
           margin-bottom: 20px;
		}
    }
    .get {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;

		&__links {
            margin-bottom: 50px;
		}

		&__list {
            width: 100%;
            padding-left: 100px;
		}

		&__list-elem {
            width: 100%;
		}

		&__form {
           width: auto;
           align-self: flex-end;
           margin-right: 40px;
		}

		&__label {
            margin-right: 20px;
		}

		&__tel {
            margin-right: 20px;
		}
    }
}
@media (max-width: 630px) {
    
    .get {
       
		&__list {
            padding-left: 20px;
		}

		&__form {
            margin: 0 10px;
            width: 100%;
		}
    }
}
@media (max-width: 600px) {
    .get {
		&__title {
            display: none;
		}

		&__form {
           display: block;
           width: 100%;
		}

		&__label {
            display: block;
            width: 100%;
            margin-right: 0;
		}

		&__tel {
           display: inline-block;
           max-width: 100%;
            width: 75%;
            margin-right: 10px;
		}

		&__btn {
            width: 20%;
            max-width: 100%;
            float: right;
		}
    }
}
@media (max-width: 380px) {
    .get {

		&__list {
            padding-left: 0;
		}

		&__list-elem {
            font-size: 28px;
            justify-content: flex-end;
            padding-right: 50px;
		}

		&__btn {
            padding: 18px 15px;
		}
    }
}