.footer {
    width: 100%;
    height: 275px;
    padding-top: 58px;
    &__container {
        @include flex(center, '');
    }

    &__content {
        min-height: 150px;
        max-width: 945px;
        width: 100%;
        @include flex(space-between, '');

        font-family: 'Gilroy-Regular'; 
        font-weight: normal;
        font-style: normal;
        opacity: 0.5;
        position: relative;
    }

    &__img {
        margin: 5px 30px 0 0;
    }

    &__content-contacts {
        @include flex('', flex-start);
        flex-direction: column;
    }

    &__content-info {
        @include flex('', flex-end);
        flex-direction: column;
    }
}

.content-contacts {
    text-align: right;
    min-width: 560px;
    &__text {
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__text-inner {
        font-size: 18px;
        margin-bottom: 45px;
    }

    &__text-mini {
        display: inline;
    }

    &__link {
        margin-right: 45px;
        font-weight: bold;
        font-size: 20px;
        
    }

    &__link:hover {
        text-decoration: underline;
    }
}
.content-info {
    min-width: 225px;
    &__link {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__text-mini {
        font-size: 16px;
    }

    &__img {
        transform: translateY(10px);
        width: auto;
    }
}


@media (max-width: 1280px) {
    .footer {

		&__container {
            padding: 0 10px;
		}
	}
}
@media (max-width: 1000px) {
    .footer {
        height: auto;
	}
}
@media (max-width: 890px) {
    .footer {
		&__container {
            padding: 0 10px;
		}

        &__img img {
            width: auto;
		}

		&__content-contacts {
            min-width: auto;
            margin-bottom: 20px;
		}
	}
}
@media (max-width: 830px) {
    .footer {
        padding: 50px 0;
		
        &__img img {
            width: auto;
		}

		&__content {
            flex-direction: column;
            height: auto;
		}

		&__content-info {
            min-width: auto;
            align-items: flex-start;
            display: block;
            text-align: end;
            margin: -43px 0 0 0;
		}
}

.content-contacts {

        &__text-mini {
            margin-right: 30px;
		}

		&__link {
            margin-bottom: 0;
		}

        &__link:nth-child(1) {
            
		}

        &__mail {
            font-size: 20px;
            
        }
	}
.content-info {
		&__link {
            font-size: 20px;
            margin-right: 25px;
            margin-bottom: 0;
            margin-top: -40px;
		}

		&__text {
            text-align: center;
            margin-top: 50px;
		}
	}
}

@media (max-width: 650px) {
    .footer {    
		&__container {
            flex-direction: column;
		}

		&__img {
            text-align: center;
            margin-bottom: 20px;
            margin-right: 0;
		}

        &__img img {
            width: auto;
		}
	}

.content-contacts {
    display: flex;
        align-items: center;
		&__text {
            font-size: 17px;
            text-align: center;
		}

		&__text-inner {
            margin-bottom: 20px;
            order: 1;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
		}

        &__text-mini {
            display: none;
		}

		&__link {
            font-size: 15px;
            margin: 0 40px 0 0;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: bold;
		}

        &__link:last-child {
            margin: 0 0 0 0;
		}

        &__mail {
            text-transform: none;
            font-size: 17px;
            margin-bottom: 25px;
        }
}
.content-info {
        display: block;
        margin: 0 0 0 0;
		&__link {
            display: inline-flex;
            margin: 0 0 0 0;
		}

        &__link:nth-child(1) {
            display: inline-flex;
            float: right;
            margin: 0 0 0 30px;
		}

		&__text {
            text-align: center;
		}
	}
}

.content-contacts {
        
		&__text {
            font-size: 14px;
           
		}

		&__link {
            font-size: 20px;
            margin: 0 0 0 0;
		}

        &__mail {
            font-size: 15px;
        }
}
.content-info {
		&__link {
            font-size: 15px;
		}

		&__text {
            font-size: 14px;
		}
	}
}

@media (max-width: 400px) {
.content-contacts {
        
		&__text {
            max-width: 210px;
           
		}
	}
}

.content-contacts {
		&__link {
            font-size: 17px;
		}   
	}
}
