$header-max-width: 3180px;

.header {
    width: 100%;
    max-width: $header-max-width;
    height: 100vh;
    max-height: 2220px;
    background-image: url('../images/home-screen-cover-3280.jpg');
    background-repeat: no-repeat;
    background-position: bottom top;
    margin: 0 auto;
    position: relative;
    padding: 20vh 0 0 15vw;
    
   
    &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 37.92%, rgba(0, 0, 0, 0) 95.86%);
        z-index: -10;
    }
    
    &__menu {
        z-index: 9999 !important;
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        min-height: 110px;
        max-width: $header-max-width;
        background: linear-gradient(180deg,rgba(0,0,0,.9)0,rgba(0,0,0,.7)56.77%,rgba(0,0,0,0)95%);
        backdrop-filter: blur(2px);
        z-index: 100;
        transform: translateX(-50%);
        display: none;
        
    }

    &__content {
        max-width: 555px;
        min-height: 100px;
        z-index: 100;
        
    }

    &__logo {
        position: absolute;
        content: url("../images/logo-header.png");
        top: 40px;
        left: 48px;
        cursor: pointer;
        z-index: 100;
        
    }

    &__aside {
        z-index: 8888;
        position: fixed;
        top: 0;
        right: 0;
        max-width: 430px;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(24px);
        padding-top: 122px;
        transform: translateX(100%);
        opacity: 0;
    }
}

.menu {
    @include flex(flex-end, center);
    // display: none;
    padding: 0 30px;

    &__title {
        cursor: pointer;
    }

    &__content {
        max-width: 350px;
        width: 100%;
        @include flex(space-between, center);
    }

    &__language {
        @include flex(center, center);
        padding-right: 15px;
        border-right: 1px solid #FFFFFF;
    }

    &__language--select {
        border: 2px solid #FFFFFF;
    }

    &__language-eu {
        padding: 6px 12px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    &__language-ru {
        position: relative;
        overflow: hidden;
        padding: 8px 13px;
        border-radius: 5px;
        cursor: pointer;
    }

    &__language-ru-hover-top {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
    }
     
    &__language-ru-hover-top::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0; 
        width: calc(100% - 1px);
        height: 100%;
        border-top: 2px solid white;
        border-radius: 5px 5px 0 0; 
        transform: scaleX(0);
        transition: 0s;
        
    }
    &__language-ru-hover-top:hover::after {
        transform: scaleX(1);
        transition: 0.2s;
    } 

    &__language-ru-hover-top::before {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: calc(100% - 4px);
       height: 0%;
       border-left: 2px solid white;
       border-right: 2px solid white;
       border-radius: 5px; 
       transition: 0s;
    }
    &__language-ru-hover-top:hover::before {
        height: 100%;
        transition: 0.2s;
        transition-delay: 0.2s;
    } 

    &__language-ru-hover-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    &__language-ru-hover-bottom::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-bottom: 2px solid white;
        border-radius: 0 0 0 5px; 
        transform: translateX(-100%);
    }

    &__language-ru-hover-bottom::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0px;
        width: calc(50%);
        height: 100%;
        border-bottom: 2px solid white;
        border-radius: 0 0 5px 0; 
        transform: translateX(100%);
    }

    &__language-ru-hover-top:hover ~ &__language-ru-hover-bottom::before,
    &__language-ru-hover-top:hover ~ &__language-ru-hover-bottom::after {
        transform: translateX(0);
        transition: 0.2s;
        transition-delay: 0.4s;
    }   
    
    
        
    &__language-eu {
        margin-right: 10px;
    }

    &__contact {
        padding: 6px 12px;
        margin-left: 35px;
        cursor: pointer;
        border: 1px solid #FFFFFF;
    }

    &__inner {
        display: flex;
    }

    &__call h6 {
        letter-spacing: 2px;
        font-size: 19px;
        @include flex('', center);
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    &__burger {
        height: 14px;
        width: 14px;
        display: inline-block;
        margin: 0 4px;
        display: inline-flex;
        align-items: center;
    }

    &__burger-open {
        border-top: 2.2px solid #FFFFFF;
        border-bottom: 2.2px solid #FFFFFF;
        position: relative;
    }
    &__burger-open::before {
        content: '';
        position: absolute;
        top: 50%;
        bottom: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 2.2px;
        background: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    &__burger-close {
        position: relative;
        border: none;
    }
    &__burger-close::after, &__burger-close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        width: 18px;
        height: 2.2px;
        background: #FFFFFF;
        border-radius: 2px;
        border: none;
    }
    &__burger-close::before {
        transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }

}

.content {
    width: 554px;

    &__title {
        margin-bottom: 24px;
        max-width: 400px;
       
    }

    &__subtitle {
        margin-bottom: 54px;
    }

    &__table {
        margin-bottom: 54px;
        display: grid;
        grid-template-columns: 100px 350px;
        grid-template-rows: 40px 50px;
        color: #FFFFFF;
    }

    &__table-cell:nth-child(1) {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 18px;
        letter-spacing: -1px;
        padding: 0 0 0 5px;
        @include flex('', flex-start);
        position: relative;
    }

    &__table-cell:nth-child(2) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 20px;
        padding: 0 0 0 26px;
        @include flex('', flex-start);

    }

    &__table-cell:nth-child(3) {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 18px;
        letter-spacing: -1px;
        padding: 0 0 0 5px;
        @include flex('', flex-end);
    }

    &__table-cell:nth-child(4) {
        font-size: 20px;
        padding: 0 0 0 26px;
        @include flex('', flex-end);
    }

    &__tabl-or {
        position: absolute;
        left: 30px;
        bottom: -9px;
        width: 32px;
        color: rgba(255, 255, 255, 0.6);
        background: transparent;
        text-align: center;
        z-index: 0;
    }

    &__btns {
        width: 100%;
        @include flex('', center);
    }

    &__btn {
        margin: 0 20px 0 0;
        @include btn-standart(auto, 20px 12px);
        text-transform: none;
    }

}

.aside {
    text-align: center;
    @include flex('', center);
    flex-direction: column;
    transition: all 1s;
    
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 53px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__navbar {
        list-style-type: none;
        margin: 0 auto 50px auto;
    }

    &__navbar-elem {
        font-family: 'Mazzard H-SemiBold';
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
        width: 325px;
        padding: 26px 0;
    }

    &__navbar-elem:hover  {
        border-bottom: 1px solid rgb(255, 255, 255, 1);
    }

    &__text {
        font-family: 'Mazzard H-SemiBold';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        opacity: 0.8;
        margin-bottom: 20px;
    }

    &__links {
        @include flex(space-between, center);
        width: 325px;
        margin-bottom: 30px;
    }

    &__link {
        font-family: 'Bebas Neue Pro';
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }

    &__mail {
        font-family: 'Mazzard H-SemiBold';
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
        opacity: 0.9;
    }
}


@media (max-width: 1640px) {
    .header {
        background-image: url('../images/home-screen-cover-1640.jpg');
        max-height: 1110px;
    }
}     
@media (max-width: 1280px) {
    .header {
        background-image: url('../images/home-screen-cover-1310.jpg');
        max-height: 888px;
    }
}
@media (max-width: 820px) {
    .header {
        background-image: url('../images/home-screen-cover-820.jpg');
        max-height: 555px;
    }
}     
@media (max-width: 768px) {
    .content {
            &__title {
                font-size: 32px;
                max-width: 320px;
                line-height: 38px;
                margin-bottom: 15px;
            }

            &__subtitle {
                margin-bottom: 20px;
            }

            &__table {
                margin-bottom: 30px;
            }
    }
    .aside {
            max-height: 522px;
    }
}
@media (max-width: 635px) {
    .header {
            padding: 20vh 0 0 2vw;
        
            &__logo {
                content: url("../images/logo-mini.png");
                top: 30px;
                left: 35px;
            }
    }
    .content {

		&__subtitle {
            max-width: 320px;
		}

		&__btn {
            padding: 10px 5px;
            max-width: 200px;
		}
    }
}
@media (max-width: 500px) {
    .menu {
            &__language {
                border-right: none;
            }

            &__language-ru {
                display: none;
            }

            &__contact {
                display: none;
            }
        }
    .aside {

		&__title {
            font-size: 28px;
		}

		&__navbar {
            margin-bottom: 30px;
		}

		&__navbar-elem {
            padding: 13px 0;
		}

		&__text {
            margin-bottom: 20px;
		}

		&__links {
            margin-bottom: 20px;
            padding: 0 10px;
		}

		&__link {
            font-size: 20px;
            
		}
    }
}
@media (max-width: 435px) {
    .header {
        padding: 15vh 0 0 2vw;
    }
    .content {
            width: auto;
            padding: 0 5px;
    
            &__table {
                margin-bottom: 20px; 
            }

            &__table-cell:nth-child(2) {
               padding: 0 0 0 10px;
               font-size: 17px;
        
            }
        
            &__table-cell:nth-child(4) {
                padding: 0 0 0 10px;
                font-size: 17px;
            }
  
            &__btns {
                display: block;
            }
    
            &__btn {
                max-width: 100%;
                margin: 0 0 10px 0;
            }
    }
}
@media (max-width: 360px) {
    .header {
        max-height: 222px;
    }
    .content {
        display: none;
        &__title {
            font-size: 32px;
            max-width: 320px;
            line-height: 38px;
            margin-bottom: 15px;
        }

        &__subtitle {
            margin-bottom: 20px;
        }

        &__table {
            margin-bottom: 30px;
        }
    }
    .aside {
        height: 100vh;
    } 
}

