.meet {
    width: 100%;
    min-height: 165px;
    
    &__container {
        @include flex('', center);
        flex-direction: column;
    }
    
    &__title {
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__subtitle {
        font-weight: 100;
        font-size: 26px;
        margin-bottom: 30px;
        display: none;
    }

    &__text {
        margin-bottom: 35px;
        max-width: 300px;
    }
    
    &__gallery {
		position: relative;
        height: 230px;
		cursor: grab;
    }

    &__gallery-list {
		position: absolute;
		display: flex;
        list-style-type: none;
		left: 0;
		top: 0;
		pointer-events: none;
   }

    &__gallery-elem {
        margin: 0 -15px 0 -15px ;
        position: relative;
        width: 360px;
    }

    &__gallery-elem:first-child {
        margin: 0 -15px 0 0 ;
    }
	&__gallery-elem:last-child {
		margin: 0 0 0 -15px ;
	}

    &__gallery-content {
        position: absolute;
        left: 45px;
        bottom: 30px;
        height: 80px;
    }

    &__gallery-title {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        text-transform: uppercase;
        margin-bottom: 13px;
        width: 300px;
    }

    &__gallery-text {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        opacity: 0.9;
        max-width: 250px;
    }
	
}

@media (max-width: 700px) {
    .meet {
        display: none;
        
        &__container {
            display: none;
        }
        
        &__title {
            display: none;
        }
    
        &__subtitle {
            display: none;
        }
    
        &__text {
            display: none;
        }
        
        &__gallery {
            display: none;
        }
    
        &__gallery-list {
            display: none;
       }
    
        &__gallery-elem {
            display: none;
        }
    
        &__gallery-elem:first-child {
            display: none;
        }
        &__gallery-elem:last-child {
            display: none;
        }
    
        &__gallery-content {
            display: none;
        }
    
        &__gallery-title {
            display: none;
        }
    
        &__gallery-text {
            display: none;
        }
    }
}


