.lookat {
    padding-top: 150px;
    &__container {
        @include flex(flex-end, '')
    }

    &__inner {
        padding-top: 75px;
    }

    &__content {
        width: 523px;
        margin-left: 58px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__list {
        margin-bottom: 32px;
        list-style-type: symbols;
        font-size: 24px;
        color: #FFFFFF;
        margin-left: 30px;
        max-width: 480px;
    }

    &__list-elem {
        margin-bottom: 30px;
        
    }

    &__btn {
        margin-left: 30px;
        @include  btn-gradient(342px, 28px 50px)
    }

}

