.map {
    padding-top: 128px;
    &__container {
        @include flex(flex-end, flex-start)
    }

    &__img {
        margin: 20px 0 0 0;
    }

	&__img img{
		width: auto;
	}

    &__content {
        width: 433px;
		padding-right: 10px;
    }

    &__title {
        margin-bottom: 26px;
    }

    &__list {
        list-style-type: symbols;
        color: #FFFFFF;
    }

    &__list-elem {
        margin-bottom: 40px;
        font-size: 24px;
    }

    &__list-text {
        font-family: 'Gilroy-Regular'; 
    }
}

@media (max-width: 1280px) {
    .map {

		&__title {
            font-size: 32px;
		}

		&__list-elem {
            margin-bottom: 25px;
		}

		&__list-text {
            font-size: 20px;
		}
}
}
@media (max-width: 1070px) {
    .map {

		&__img {
			margin: 50px 0 0 0;
		}

		&__content {
            width: 300px;
			margin-right: 20px;
		}

		&__title {
            font-size: 24px;
            margin-bottom: 20px;
		}

		&__list-text {
            font-size: 17px;
		}
	}
}
@media (max-width: 800px) {
    .map {
		padding-top: 50px;
		&__container {
            flex-direction: column-reverse;
            align-items: center;
			padding: 0 10px;
		}

		&__img {
            margin: 0;
			width: auto;
		}
        &__img img {
            margin: 0;
			width: auto;
		}

		&__inner {
            width: 100%;
            align-items: start;
		}

		&__content {
            margin-left: 20px;
			width: 100%;
		}
	}
}

