.ourprocess {
    width: 100%;
    min-height: 470px;
    padding: 90px 10px 0 25px;
    margin-bottom: 140px;
    @include flex('', center);
    flex-direction: column;

    &__title {
        margin-bottom: 65px;
    }

    &__table {
        max-width: 1370px;
        width: 100%;
        display: grid;
        // grid-template-columns: 425px 520px 425px;
        grid-template-columns: 1fr 1.22fr 1fr;
        grid-template-rows: 75px 170px;
    }

    &__table-cell {
        padding-left: 30px;
    }

    &__table-cell-top {
        // border-bottom: 1px solid #22CED9;
        position: relative;
    }
    &__table-cell-top::before {
        position: absolute;
        content: '';
        height: 40px;
        width: 1px;
        background: linear-gradient(90deg,#667374 0,rgba(102,115,116,0)100%);
        border: 0;
        left: 0;
        bottom: -20px;
    }
    
    &__table-cell-top::after {
        position: absolute;
        content: '';
        width: 100vw;
        height: 1px;
        background: linear-gradient(90deg,#667374 0,rgba(102,115,116,0)100%);
        border: 0;
        left: -50vw;
        bottom: 0;

    }

    &__table-num {
        position: absolute;
        top: -32px;
        left: -15px;
        font-family: 'Gilroy-Regular';  
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 77px;
        color: #FFFFFF;
    }


    &__table-title {
        font-family: 'Mazzard H-SemiBold';
        font-style: normal;
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
    }

    &__table-title-mob {
        display: none;
        margin-bottom: 20px;
    }

    &__table-descr {
        font-family: 'Gilroy-Regular'; 
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        margin: 30px 30px 0 0;
    }

    &__btn {
        margin-top: 25px;
        @include btn-standart(350px, 12px 8px);
        text-transform: none;
        font-size: 17px;
    }
}
@media (max-width: 1280px) {
    .ourprocess {
		&__table {
            grid-template-rows: 75px 100%;
		}
    }
}
@media (max-width: 1000px) {
    .ourprocess {
        margin-bottom: 100px;
        padding-top: 30px;
        align-items: flex-start;

		&__title {
            font-family: "Bebas Neue Pro";
            font-size: 48px;
            text-transform: uppercase;
            margin-bottom: 10px;
		}

		&__table {
            grid-template-columns: 60px 1fr;
            grid-template-rows: 1fr 1.22fr 1fr;
            min-height: 700px;
		}

        &__table-cell-1 {
            grid-column: 1;
            grid-row: 1;
        }
        &__table-cell-2 {
            grid-column: 1;
            grid-row: 2;
        }
        &__table-cell-3 {
            grid-column: 1;
            grid-row: 3;
        }
        &__table-cell-4 {
            grid-column: 2;
            grid-row: 1;
            padding-top: 35px;
            
        }
        &__table-cell-5 {
            padding-top: 35px;
            padding-bottom: 40px;
            grid-column: 2;
            grid-row: 2;
            
        }
        &__table-cell-6 {
            padding-top: 35px;
            grid-column: 2;
            grid-row: 3;
            
        }

		&__table-cell-top {
            border-right: 1px solid #667374;
		}
        &__table-cell-top::before {
            content: '';
            left: 0;
            bottom: 0;
            width: 270px;
            height: 1px;
        }
        &__table-cell-top:nth-child(3)::before {
            content: '';
            display: none;
        }
        &__table-cell-top::after {
            display: none;
        }

		&__table-num {
            top: 30px;
            left: -12px;
            font-size: 64px;
		}

		&__table-title {
            display: none;
		}
        &__table-title-mob {
            display: block;
            margin: 0 0 20px 0;
            font-size: 32px;
        }

		&__table-descr {
            font-size: 20px;
		}

		&__btn {
            font-size: 18px;
		}
    }
}
@media (max-width: 768px) {
    .ourprocess {
        padding-top: 20px;
        margin-bottom: 20px;
		&__title {
            margin-bottom: 30px;
		}
    }
}
@media (max-width: 360px) {
    .ourprocess {
        padding-top: 0;
        margin-bottom: 0;
        

		&__title {
            margin-bottom: 0;
            text-transform: none;
            font-size: 20px;
            font-family: 'Mazzard H-SemiBold';
		}

		&__table {
            grid-template-columns: 30px 1fr;
            grid-template-rows: 1fr 1.22fr 1fr;
            min-height: 350px;
		}

		&__table-cell {
            margin: 0 0 0 10px;
            padding: 15px 0;
		}

		&__table-cell-top {
            border-right: none;
		}
        &__table-cell-top::before {
            width: 328px;
            
        }
        &__table-cell-top:nth-child(3)::before {
            display: none;
        }
        &__table-cell-top::after {
            display: none;
        }

		&__table-num {
            top: 35%;
            margin: 0;
            transform: translateY(-50%);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: 'Bebas Neue pro';
            font-style: normal;
            font-weight: bold;
            font-size: 74px;
            line-height: 74px;
            color: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 77.03%);
		}

		&__table-title {
            
		}
        &__table-title-mob {
            display: none;
        }

		&__table-descr {
            font-size: 17px;
            margin: 0 30px 0 0;
		}

		&__btn {
            font-size: 14px;
		}
    }
}