.terms {
    margin-top: 100px;
    width: 100%;
    
    &__container {
        @include flex(flex-start, flex-start);
        padding-left: 10px;
    }

    &__inner {
        @include flex(flex-start, flex-start);
        margin-top: 50px;
        margin-right: 45px;
    }

    &__content {
        width: 431px;
    }

    &__title {
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__price-list {
        margin-bottom: 15px;
    }

    &__price-elem {
        border-bottom: 1px solid rgb(255, 255, 255, 0.5);
        width: 374px;
        height: 60px;
        @include flex(space-between, center);
    }

    &__price-elem:nth-last-child {
        border-bottom: none;
    }

    &__product {
        font-size: 26px;
        line-height: 140%;
    }

    &__price-cost {
        font-size: 26px;
        line-height: 30px;
    }

    &__additional-info-list {
        margin-bottom: 70px;
        width: 400px;
        // list-style-type: symbols;
        color: #FFFFFF;
        font-size: 20px;
        margin-left: 20px;
    }

    &__additional-info-list-elem {
        color: #FFFFFF;
        
        display: flow-root list-item;
        margin-bottom: 25px;
    }

    &__flex {
        @include flex('', center);
    }

    &__text {
        font-family: 'Gilroy-Regular'; 
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
        
    }

    &__bitc-text {
        width: 280px;
    }
    &__bitc {
        width: 42px;
        height: 42px;
    }
    

    &__price-includes-list {
       list-style-type: symbols;
       color: #FFFFFF;
       font-size: 20px;
       max-width: 300px;
       width: 100%;
       
    }

    &__price-includes-elem {
        margin-bottom: 25px;
        margin-left: 20px;
    }

    &__price-includes-title {
        margin-bottom: 25px;
        font-family: 'Mazzard H-SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
    }

    &__img {
        width: 100%; 
    }
}

@media (max-width: 1280px) {
.terms {
		&__container {
            justify-content: flex-end;
		}

		&__img {
            width: 639.67px;
            height: 532.19px;
            overflow: hidden;
		}

        &__img img {
            object-position: -85px;
            width: 800.89px;
            height: 535.66px;
		}
}
}
@media (max-width: 800px) {
.terms {
	margin-top: 10px;
		position: relative;
		&__container {
            padding: 0;
			justify-content: flex-start;
			padding: 0 10px;
		}

		&__inner {
			width: 100%;
			max-width: 100%;
		}

		&__content {
			width: 100%;
		}

		&__title {
            font-size: 36px;
		}

		&__price-elem {
            font-size: 24px;
		}

		&__product {
            font-size: 24px;
		}

		&__price-cost {
            font-size: 26px;
		}

		&__additional-info-list {
			width: 100%;
			margin-bottom: 100px;
		}

		&__additional-info-list-elem {
            width: 100%;
			max-width: 100%;
		}

		&__flex {
			width: auto;
		}

		&__text {
            font-size: 20px;
			width: auto;
			margin-right: 10px;
		}

		&__price-includes-list {
			max-width: 100%;
		}

		&__price-includes-title {
            font-size: 24px;
		}

		&__img {
            background-image: url("../images/investment-terms-830.jpg");
            margin: 0;
            z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0.5;
		}

        &__img img {
            display: none;
		}
}
}

@media (max-width: 500px) {
 .terms {
		&__container {
            padding: 10px 20px 0 25px;
            position: relative;
		}
        &__container::before {
            position: absolute;
            content: url('../images/terms768px.png');
            top: 0;
            left: 0;
            // width: 100%;
            z-index: -1;
        }

		&__inner {
            margin: 0;
		}

		&__content {
            width: 100%;
		}

		&__title {
            font-size: 30px;
		}

		&__price-elem {
            width: 100%;
		}

		&__product {
            font-size: 17px;
		}

		&__price-cost {
            font-size: 22px;
		}

		&__additional-info-list {
            width: 100%;
            margin: 0 0 30px 0;
		}

		&__bitc-text {
            width: 240px;
		}

		&__text {
            font-size: 17px;
		}

		&__price-includes-title {
            font-size: 20px;
		}

		&__img {
            display: none;
		}
}
}
@media (max-width: 360px) {
 .terms {

		&__container {
            padding: 10px 10px 0 10px;
		}
        &__container::before {
            content: url('../images/terms-bg-mob.png');
        }
	} 
}

