.tour {
	padding-top: 100px;
	&__container {
		position: relative;
		overflow: hidden;
	}

	&__slider-inner {
		display: grid;
		grid-template-columns: repeat(7, 100%);
		
		transition: all 1s;
	
		
	}

	&__slider-slide {
		@include flex(space-between, flex-start);
		width: 100%;
		padding-left: 50px;
		overflow: hidden;
	}

	&__slider-description {
		margin-right: 50px;
		margin-top: 30px;
		width: 382px;
		
	}

	&__slider-description-text, &__slider-description-text-mob {
		font-style: normal;
        font-size: 28px;
        line-height: 140%;
        margin-bottom: 37px;
        font-family: 'Gilroy-Medium';
	}

	&__slider-subtext {
		font-style: normal;
        font-size: 24px;
        line-height: 130%;
        max-width: 415px;
	}

	&__slider-description-text-mob {
		display: none;
	}

	&__slider-img {
		width: 100%;
	}

	&__start {
		position: absolute;
		bottom: 0;
		left: 50px;
	}

	&__start-question {
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 130%;
		max-width: 326px;
		text-align: center;
	}

	&__start-btn {
		margin-top: 22px;
        @include  btn-gradient(330px, 28px 72px)
	}

	&__arrow-left, &__arrow-right {
		position: absolute;
        bottom: 80px;
        width: 193.02px;
        height: 154.42px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        backdrop-filter: blur(2px);
        transform: matrix(1, 0, 0, -1, 0, 0);
        @include flex(center, center);
        z-index: 1000;
		opacity: 0.5;
     	cursor: pointer;
	}
	&__arrow-left {
		left: 450px;
	}

	&__arrow-right {
		left: 650px;
		transform: rotate(180deg);
	}

	&__line {
		width: 65px;
		height: 1px;
		border: 1.5px solid #FFFFFF;
		transform: matrix(1, 0, 0, -1, 0, 0);
		position: relative;
		border-radius: 10px;
	}

	&__arrow-left:hover, &__arrow-right:hover {
		opacity: 1;
	}
		
	&__line::before {
		position: absolute;
		content: '';
		top: 2px;
		left: -5px;
		width: 10px;
		border: 1.5px solid #fafafa;
		transform: rotate(45deg);
		border-radius: 5px;
	}

	&__line::after {
		position: absolute;
		content: '';
		top: -4px;
		left: -5px;
		width: 10px;
		border: 1.5px solid #f8f8f8;
		transform: rotate(-45deg);
		border-radius: 5px;
	}
}

@media (max-width: 1190px) {
	.tour {
		&__slider-description-text, &__slider-description-text-mob {
			font-size: 20px;
		}
	
		&__slider-subtext {
			font-size: 18px;
		}
	
		&__arrow-left, &__arrow-right {
			width: 150px;
			height: 120px;
		}
	}
}
@media (max-width: 1000px) {
    .tour {
		&__container {
			padding: 0;
		}
	
		&__slider-slide {
			position: relative;
			padding-left: 0;
		}
	
		&__slider-description {
			position: absolute;
			left: 50px;
			top: 100px;
			z-index: 10;
		}
		&__slider-description::before {
			position: absolute;
			content: "";
			background: rgba(0,0,0,.25);
			width: 535px;
			height: 200px;
			border-radius: 0px 70% 70% 0;
			left: -50px;
			top: 0;
			filter: blur(15px);
			z-index: -1;
		}
	
		&__start {
			bottom: 30px;
		}
	
		&__arrow-left, &__arrow-right {
			bottom: 20px;
			left: auto;
		}
		&__arrow-left {
			right: 200px;
		}
	
		&__arrow-right {
			right: 0;	
		}
	}
}
@media (max-width: 800px) {
   .tour {
		&__slider-description {
			margin: 0;	
		}
	
		&__start-btn {
			width: 300px;
			padding: 10px 70px;
			font-size: 16px;
		}
	
		&__arrow-left, &__arrow-right {
			width: 120px;
			height: 100px;
		}
		&__arrow-left {
			display: none;
		}
	
		&__arrow-right {
			right: -20px;
		}
	}
}
@media (max-width: 700px) {
   .tour {
		&__slider-description {
			top: 30px;
		}
		&__slider-description::before {
			left: -150px;
			top: -25px;
		}
	}
}
@media (max-width: 500px) {
   .tour {
		&__slider {
			margin-bottom: 120px;
		}
	
		&__slider-description {
			left: 10px;
		}
	
		&__slider-description-text, &__slider-description-text-mob {
			font-size: 17px;
			margin-bottom: 15px;
		}
	
		&__slider-subtext {
			font-size: 15px;
		}
	
		&__start {
			left: 50%;
			transform: translateX(-50%);
		}
	
		&__arrow-left, &__arrow-right {
			bottom: 140px;
		}
	}
}
@media (max-width: 420px) {
    .tour {
		&__slider-description {
			width: 100%;
			padding-right: 20px;
		}

		&__slider-description::before {
			height: 120px;
			top: -5px;
			left: -50px;
		}
	
		&__slider-description-text, &__slider-description-text-mob {
			font-size: 14px;
		}
	
		&__arrow-left, &__arrow-right {
			bottom: 110px;
			right: -45px;
		}
		
		&__line-right {
			margin-left: 60px;
		}
	}
}
