@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard H-Medium';
    src: url('../fonts/MazzardH-Medium.eot');
    src: local('Mazzard H Medium'), local('MazzardH-Medium'),
        url('../fonts/MazzardH-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardH-Medium.woff2') format('woff2'),
        url('../fonts/MazzardH-Medium.woff') format('woff'),
        url('../fonts/MazzardH-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard H-SemiBold';
    src: url('../fonts/MazzardH-SemiBold.eot');
    src: local('Mazzard H SemiBold'), local('MazzardH-SemiBold'),
        url('../fonts/MazzardH-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardH-SemiBold.woff2') format('woff2'),
        url('../fonts/MazzardH-SemiBold.woff') format('woff'),
        url('../fonts/MazzardH-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue Pro';
    src: local('Bebas Neue Pro Regular'), local('Bebas-Neue-Pro-Regular'),
        url('../fonts/BebasNeuePro-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeuePro-Regular.woff') format('woff'),
        url('../fonts/BebasNeuePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


// @include('./')
// @import"./_common.scss";
// @import"./_header.scss";
// @import"./_doing.scss";
// @import"./_schedule.scss";
// @import"./_tour.scss";
// @import"./_map.scss";
// @import"./_termsInvestment.scss";
// @import"./_ourProcess.scss";
// @import"./_about.scss";
// @import"./_letsMeet.scss";
// @import"./_contacts.scss";
// @import"./_lookAt.scss";
// @import"./_answers.scss";
// @import"./_footer.scss";