<div class="about">
    <div class="about__container container">
        <div class="about__employes employes">
            <div class="employes__inner">
                <div class="employes__content">
                    <div class="employes__ellipse">
                        <img class="employes__photo" src="../images/person-man-560.png" alt="" srcset="">
                    </div>

                    <h2 class="employes__name">
                        IGor grosu
                    </h2>

                    <p class="employes__prof">
                        co-ceo of the SDG
                    </p>

                    <a class="employes__inst hover-default" href="/">
                        <span class="employes__inst-img">
                            <img src="../images/instagram.png" alt="" srcset="">
                        </span>
                        Igorgrosughid
                    </a>

                </div>
                <div class="employes__content">
                    <div class="employes__ellipse">
                        <img class="employes__photo" src="../images/person-woman-480.png" alt="" srcset="">
                    </div>

                    <h2 class="employes__name">
                        VIKTORIA HALITSKA
                    </h2>

                    <p class="employes__prof">
                        co-ceo of the SDG
                    </p>

                    <a class="employes__inst hover-default" href="/">
                        <span class="employes__inst-img">
                            <img src="../images/instagram.png" alt="" srcset="">
                        </span>
                        Halitska_13
                    </a>
                </div>
            </div>
            
        </div>

        <div class="about__inner">
                <div class="about__content">
                    <h2 class="about__title">
                        about US
                    </h2>
                    
                    <h6 class="about__subtitle">
                        We are an international team of professionals who built over <b>600,000m²</b> of residential apartments in <b>4</b> countries
                    </h6>

                    <h6 class="about__text">
                        Now we are opening a new chapter of construction in Bali. 
                    </h6>

                    <h6 class="about__text">
                        We have already invested more than$3 million in Bali real estate and we’re not looking to slow down!
                    </h6>

                     <div class="about__btn btn-gradient">
                            Read more about our company
                     </div>
                </div>          
        </div>

        
    </div>
    <img class="employes__img-employes" 
            srcset="../images/person-mob-856.png 856w,
                    ../images/person-mob-430.png 430w" alt="">
</div>