<div class="answers">
    <div class="answers__container container">
        <h5 class="answers__title">
            FAQ
        </h5>
    </div>

    <div class="answers__accordion accordion">
        <div class="accordion__inner">
            <ul class="accordion__list">
                <li class="accordion__list-elem" id="1">
                    <div class="accordion__header" data-accordion-header="1">
                        <h5 class="accordion__title">
                            If the situation with the pandemic goes on for years, will I incur losses?
                        </h5>
                        <div class="accordion__open hover-default" data-accordion-btn-switch="1">
                            <span class="accordion__line"></span>
                            <span class="accordion__line"></span>
                        </div>
                    </div>

                    <div class="accordion__content" data-accordion-content-elem="1">
                        <p class="accordion__text">
                            As we said earlier, domestic tourism allows keeping a level of villas occupancy high. The number of Indonesians coming to Bali had increased several times over. According to Indonesia's Tourism and Creative Economy Minister Sandiaga Uno, the influx of domestic tourists in Bali doubled in April. 
                        </p>

                        <p class="accordion__text">(https://www.indo-ned.com/news/bali-domestic-tourism-increases-to-4500-visitors-every-day-in-april) </p>

                        <p class="accordion__text">By the way, despite the current travel restrictions, visitors with business visas (and some other types) can enter the country. Moreover, Sandiago Uno says digital nomads will be granted 5-year visas with no taxes on foreign-sourced income. That will provide a new flow of remote workers to Bali. According to Gartner research, the number of remote employees will come to 51% by the end of 2021. In the near future, Bali can become the next Digital Technology Hub.</p>
                    </div>
                </li>

                <li class="accordion__list-elem" id="2">
                    <div class="accordion__header" data-accordion-header="2">
                        <h5 class="accordion__title">
                            Do you provide a guarantee?
                        </h5>
                        <div class="accordion__open" data-accordion-btn-switch="2">
                            <span class="accordion__line"></span>
                            <span class="accordion__line"></span>
                        </div>
                    </div>

                    <div class="accordion__content" data-accordion-content-elem="2">
                            <p class="accordion__text">Yes, we provide a 10-year warranty on the property we built. It splits into two periods. We fix every issue with fixtures and fittings that arise during the operation for three years (except for problems caused by the client). A 10-years warranty covers each defect of load-bearing elements (foundations, stairs, ceilings, walls, and roofs), waterproofing, plumbing, and electricals getting damaged. You can find complete information about all that in the documents. </p>
                    </div>
                </li>

                <li class="accordion__list-elem" id="3">
                    <div class="accordion__header" data-accordion-header="3">
                        <h5 class="accordion__title">
                            I can buy land and build a villa without any help. That would be cheaper?
                        </h5>
                        <div class="accordion__open" data-accordion-btn-switch="3">
                            <span class="accordion__line"></span>
                            <span class="accordion__line"></span>
                        </div>
                    </div>

                    <div class="accordion__content" data-accordion-content-elem="3">                  
                            <p class="accordion__text">First, foreigners cannot buy land in Bali. It is possible to get a land lease for 25 years. The area should not be agricultural or “green”. Second, you need to get initial permissions and a license for building a villa. Third, this process requires a detailed plan and a large group of professionals. It is necessary to take into account many technical moments regarding the legal and building aspects. There is a strong chance you’ll be wasting your money and time if you have no experience in this area. We are familiar with many instances when people could not finish the building process due to issues that have to do with the processes we described. </p>
                    </div>
                </li>

                <li class="accordion__list-elem" id="4">
                    <div class="accordion__header" data-accordion-header="4">
                        <h5 class="accordion__title">
                            What if I decide to manage the villa without your help? Can I live in the villa?
                        </h5>
                        <div class="accordion__open hover-default" data-accordion-btn-switch="4">
                            <span class="accordion__line"></span>
                            <span class="accordion__line"></span>
                        </div>
                    </div>

                    <div class="accordion__content" data-accordion-content-elem="4">                 
                            <p class="accordion__text">Yes, after the construction you will have the villa at your disposal.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>





















