<div class="contacts">
    <div class="contacts__container container">
        <div class="contacts__content">
            <div class="contacts__info info">
                <h3 class="info__title">
                    Villa Management
                </h3>

                <h6 class="info__text">
                    You can have an agreement with our management company or choose villa self-management.
                </h6>
                <h6 class="info__text">
                    You will not have to take care of the day-to-day operations to make things go smoothly and keep the property up to date if you decide to use our services.
                </h6>
                <h6 class="info__text">
                    We will undertake all necessary preparation, and you will effortlessly get 12-22% per annum.
                </h6>
            </div>

            <div class="contacts__get get">
                <h5 class="get__subtitle">
                    Contact us to get more details
                </h5>

                <div class="get__links">
                    <div class="get__title">
                        <img src="../images/title for contacts.png" alt="" srcset="">
                    </div>

                    <div class="get__list">
                        <a href="/" class="get__list-elem hover-default">
                            <img class="get__list-img" src="../images/whatsapp.png" alt="" srcset=""> Whatsapp
                        </a>
                        <a href="/" class="get__list-elem hover-default">
                            <img class="get__list-img" src="../images/flash.png" alt="" srcset=""> Messenger
                        </a>
                        <a href="/" class="get__list-elem hover-default">
                            <img class="get__list-img" src="../images/telegram.png" alt="" srcset=""> Telegram
                        </a>
                    </div>
                </div>

                <form action="/" class="get__form">
                    <label class="get__label" for="tel" >
                        Leave your number and we’ll call you back in 24 hours.
                    </label>

                    <input class="get__tel" id="tel" type="tel" 
                        placeholder="Write phone number here" data-contacts-form-input-tel>

                    <button class="get__btn btn-standart hover-default" data-contacts-form-btn>
                        send
                    </button>
                    
                    <div class="get__successfull hide" data-contacts-hide-content>
                        <p class="get__successfull-text">
                            <b>Thank you!</b>
                        </p>
                        <p class="get__successfull-text">
                            We'll reach you out soon
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


