<div class="doing">
    <div class="doing__container container">
        <div class="doing__img">
            <img src="../images/imageWithCar-doing.png" alt="" srcset="">
        </div>

        <div class="doing__inner">
                    <div class="doing__content">
                    <h1 class="doing__title">
                        What we are doing
                    </h1>
        
                    <h5 class="doing__subtitle">
                        We are building a complex of modern villas near Berawa Beach, one of the most popular beaches in Bali. 
                    </h5>
        
                    <h6 class="doing__text">
                        Thе location provides more than 15 objects to ensure comfortable living: cafes, sport and beach clubs, spa complexes, shops, and playgrounds. 
                    </h6>
                </div>          
        </div>
    </div>
</div>

    
