<div class="footer">
    <div class="footer__container container">
        <div class="footer__img">
            <a href="/">
                <img src="../images/logo-mini.png" alt="" srcset="">
            </a>
        </div>

        <div class="footer__content">
            <div class="footer__content-contacts content-contacts">
                <p class="content-contacts__text">
                    Ⓒ PT Sunny Development Group. All right reserved 2021
                </p>
                <div class="content-contacts__text-inner">
                    <p class="content-contacts__text-mini">Follow us:</p>
                    <a href="/" class="content-contacts__link hover-default">Facebook</a>
                    <a href="/" class="content-contacts__link hover-default">Instagram</a>
                    <a href="/" class="content-contacts__link hover-default">Youtube</a>
                </div>
                <a href="/" class="content-contacts__mail hover-default">
                    email@sunnydvg.com
                </a>
            </div>

            <div class="footer__content-info content-info">
                <a href="/" class="content-info__link hover-default">Terms Of Service</a>
                <a href="/" class="content-info__link hover-default">Privacy policy</a>

                <p class="content-info__text">
                    Designed by: 
                    <a href="/" class="content-info__text-mini hover-default">
                        <img class="content-info__img" src="../images/footer-dev.png" alt="" srcset="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>