<div class="header">
    <div class="header__menu menu">
        <div class="menu__title">
            <h6>SUNNY DEVELOPMENT GROUP</h6>
        </div>

        <div class="menu__content">
            <div class="menu__inner">
                <div class="menu__language">
                    <div class="menu__language-eu"><p>EU</p></div>
                    <div class="menu__language-ru"><p>RU</p></div>
                </div>
    
                <div class="menu__contact">
                    <p>Contact Us</p>
                </div>
            </div>
            
            <div class="menu__open">
                <h6>M<span class="menu__burger">  <div class="menu__line"></div> </span>NU</h6>
            </div>
        </div>
    </div>

    <div class="header__content content">
        <h2 class="content__title">
            Invest in villa complex development in Bali
        </h2>

        <h6 class="content__subtitle">
            Let the premium villas work for your wealth
        </h6>

        <div class="content__table">
                <div class="content__table-cell">RENT OUT: <div class="content__tabl-or">or</div></div>
                <div class="content__table-cell">12-22% APY   4-8 years to recoup</div>                      
                <div class="content__table-cell">BUY OUT:</div>
                <div class="content__table-cell">115-130% after development</div>            
        </div>

        <div class="content__btns">
            <div class="content__btn btn"><p>Get ROI calculations</p></div>
            <div class="content__btn btn"><p>Contact manager</p></div>
        </div>
    </div>

     <a href="/" class="header__logo"> </a>
</div>
<div class="te"></div>

