<div class="meet">
    <div class="meet__container container">
        <h2 class="meet__title">
            SOmewhere near? Let’s meet!
        </h2>
        
        <p class="meet__subtitle">
            We would be happy to discuss all the details with you in one of our offices: 
        </p>
    </div>

    <div class="meet__gallery">
        <ul class="meet__gallery-list">
            <li class="meet__gallery-elem" style="background-color: url('');">
                <img src="../images/gallery1.png" alt="" class="meet__gallery-img">
                <div class="meet__gallery-content">
                    <h2 class="meet__gallery-title">
                        INDONESIA, BALI
                    </h2>

                    <p class="meet__gallery-text">
                        Gg. Anggrek 7, Tibubeneng, Kec. Kuta Utara
                    </p>
                </div>
            </li>
            <li class="meet__gallery-elem">
                <img src="../images/gallery2.png" alt="" class="meet__gallery-img">
                <div class="meet__gallery-content">
                    <h2 class="meet__gallery-title">
                        FRANCE, Nice
                    </h2>

                    <p class="meet__gallery-text">
                        8 av jean medecin, sg nice espace pro, 1500
                    </p>
                </div>
            </li>
            <li class="meet__gallery-elem">
                <img src="../images/gallery3.png" alt="" class="meet__gallery-img">
                <div class="meet__gallery-content">
                    <h2 class="meet__gallery-title">
                        China, Guangzhou
                    </h2>

                    <p class="meet__gallery-text">
                        Xiwan Road 149, Yuexiu Fortune Apartment  Building B2, 807
                    </p>
                </div>
            </li>
            <li class="meet__gallery-elem">
                <img src="../images/gallery4.png" alt="" class="meet__gallery-img">
                <div class="meet__gallery-content">
                    <h2 class="meet__gallery-title">
                        KIEV, UKRAINE
                    </h2>

                    <p class="meet__gallery-text">
                        Klovs'kyi descent 7a, Carnegie Tower, 15 floor, 68
                    </p>
                </div>
            </li>
            <li class="meet__gallery-elem">
                <img src="../images/gallery5.png" alt="" class="meet__gallery-img">
                <div class="meet__gallery-content">
                    <h2 class="meet__gallery-title">
                        BUCHAREST, ROMANIA
                    </h2>

                    <p class="meet__gallery-text">
                        Strada Doctor Constantin Caracaș 24a
                    </p>
                </div>
            </li>
            <li class="meet__gallery-elem">
                <img src="../images/gallery6.png" alt="" class="meet__gallery-img">
                <div class="meet__gallery-content">
                    <h2 class="meet__gallery-title">
                        Chișinău, Moldova, ROMANIA
                    </h2>

                    <p class="meet__gallery-text">
                        Strada Uzinelor 8, Building 1
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>