<div class="meet">
    <div class="meet__container container">
        <h2 class="meet__title">
            SOmewhere near? Let’s meet!
        </h2>
        
        <h4 class="meet__subtitle">
            Our offices 
        </h4>

        <p class="meet__text">
            We would be happy to discuss all the details with you in one of our offices: 
        </p>
    </div>
</div>
<div class="meet__gallery" data-slider>
    <ul class="meet__gallery-list" data-slider-inner>
        
    </ul>
</div>
