<div class="meet-mob">
    <div class="meet-mob__title">
        Our offices
    </div>
    <ul class="meet-mob__gallery">
        <li class="meet-mob__gallery-elem" id=1 >
            <img src='../images/our-offices-image-1-718.png' alt="alt" class="meet-mob__gallery-img">
            <div class="meet-mob__gallery-content">
                <h2 class="meet-mob__gallery-title">INDONESIA, BALI</h2>
                <p class="meet-mob__gallery-text">Gg. Anggrek 7, Tibubeneng, Kec. Kuta Utara</p>
            </div>
        </li>

        <li class="meet-mob__gallery-elem" id=2 >
            <img src='../images/our-offices-image-2-718.png' alt="alt" class="meet-mob__gallery-img">
            <div class="meet-mob__gallery-content">
                <h2 class="meet-mob__gallery-title">FRANCE, Nice</h2>
                <p class="meet-mob__gallery-text">8 av jean medecin, sg nice espace pro, 1500</p>
            </div>
        </li>

        <li class="meet-mob__gallery-elem" id=3 >
            <img src='../images/our-offices-image-3-718.png' alt="alt" class="meet-mob__gallery-img">
            <div class="meet-mob__gallery-content">
                <h2 class="meet-mob__gallery-title">China, Guangzhou</h2>
                <p class="meet-mob__gallery-text">Xiwan Road 149, Yuexiu Fortune Apartment Building B2, 807</p>
            </div>
        </li>

        <li class="meet-mob__gallery-elem" id=4 >
            <img src='../images/our-offices-image-4-718.png' alt="alt" class="meet-mob__gallery-img">
            <div class="meet-mob__gallery-content">
                <h2 class="meet-mob__gallery-title">KIEV, UKRAINE</h2>
                <p class="meet-mob__gallery-text">Klovs'kyi descent 7a, Carnegie Tower, 15 floor, 68</p>
            </div>
        </li>

        <li class="meet-mob__gallery-elem" id=5 >
            <img src='../images/our-offices-image-5-718.png' alt="alt" class="meet-mob__gallery-img">
            <div class="meet-mob__gallery-content">
                <h2 class="meet-mob__gallery-title">BUCHAREST, ROMANIA</h2>
                <p class="meet-mob__gallery-text">Strada Doctor Constantin Caracaș 24a</p>
            </div>
        </li>

        <li class="meet-mob__gallery-elem" id=6 >
            <img src='../images/our-offices-image-6-718.png' alt="alt" class="meet-mob__gallery-img">
            <div class="meet-mob__gallery-content">
                <h2 class="meet-mob__gallery-title">Chișinău, Moldova, ROMANIA</h2>
                <p class="meet-mob__gallery-text">Strada Uzinelor 8, Building 1</p>
            </div>
        </li>

    </ul>
    <div class="meet-mob__text">
        Want to own a villa and get a passive rental income?
    </div>
    <div class="meet-mob__bnt">
        Contact us
    </div>
</div>