<div class="map">
    <div class="map__container container">
        <div class="map__img">
            <img src="../images/map.png" alt="" srcset="">
        </div>

        <div class="map__inner">
            <div class="map__content">
    
                <h4 class="map__title">
                    Neighbourhood
                </h4>
    
                <ul class="map__list">
                    <li class="map__list-elem">
                        <h6 class="map__list-text">
                            Properties are in walking distance from Berawa Beach, one of the famous Bali beaches
                        </h6>
                    </li>
                    <li class="map__list-elem">
                        <h6 class="map__list-text">
                            Finns Recreation Club, including premier entertainment, leisure, co-working, fitness, and sporting venue
                        </h6>
                    </li>
                    <li class="map__list-elem">
                        <h6 class="map__list-text">
                            Tamora Gallery for a premium shopping experience
                        </h6>
                    </li>
                    <li class="map__list-elem">
                        <h6 class="map__list-text">
                            Montessori School Bali, an innovative school with a well-known education program
                        </h6>
                    </li>
                    <li class="map__list-elem">
                        <h6 class="map__list-text">
                            Top-notch restaurants and cafes
                        </h6>
                    </li>
                    <li class="map__list-elem">
                        <h6 class="map__list-text">
                            A 35-minute drive to Ngurah Rai International Airport
                        </h6>
                    </li>
                    
                </ul>
            </div>          
        </div>
    </div>
</div>






