<div class="ourprocess">
    <h3 class="ourprocess__title">
        Our process:
    </h3>

    <div class="ourprocess__table">
        <div class="ourprocess__table-cell ourprocess__table-cell-top ourprocess__table-cell-1">
            <div class="ourprocess__table-num">1</div>
            <h5 class="ourprocess__table-title">Initiation</h5>
        </div>
        <div class="ourprocess__table-cell ourprocess__table-cell-top ourprocess__table-cell-2">
            <div class="ourprocess__table-num">2</div>
            <h5 class="ourprocess__table-title">Construction</h5>
        </div>
        <div class="ourprocess__table-cell ourprocess__table-cell-top ourprocess__table-cell-3">
            <div class="ourprocess__table-num">3</div>
            <h5 class="ourprocess__table-title">Acceptance</h5>
        </div>
        <div class="ourprocess__table-cell ourprocess__table-cell-4">
            <h5 class="ourprocess__table-title ourprocess__table-title-mob">Initiation</h5>
            <h5 class="ourprocess__table-descr">You sign an investment contract with Sunny Development Group and make a downpayment of 25%. The construction process starts within 10 days.</h5>
        </div>
        <div class="ourprocess__table-cell ourprocess__table-cell-5">
            <h5 class="ourprocess__table-title ourprocess__table-title-mob">Construction</h5>
            <h5 class="ourprocess__table-descr">You pay in stages for ten months (5% monthly). During this period, you regularly get a summary of the progress made in each key area of the project (with photos).</h5>
            <div class="ourprocess__btn btn-standart hover-default">
                Check out the last construction reports 
            </div>
        </div>
        <div class="ourprocess__table-cell ourprocess__table-cell-6">
            <h5 class="ourprocess__table-title ourprocess__table-title-mob">Acceptance</h5>
            <h5 class="ourprocess__table-descr">The property is built, you are able to verify all the details and make the final payment of 25%. You get the documents and keys.</h5>
        </div>
    </div>

   

</div>