<div class="ourprocess">
    <h3 class="ourprocess__title">
        Our process:
    </h3>

    <div class="ourprocess__table">
        <div class="ourprocess__table-cell ourprocess__table-cell-top">
            <div class="ourprocess__table-num">1</div>
            <h5 class="ourprocess__table-title">Initiation</h5>
        </div>
        <div class="ourprocess__table-cell ourprocess__table-cell-top">
            <div class="ourprocess__table-num">2</div>
            <h5 class="ourprocess__table-title">Construction</h5>
        </div>
        <div class="ourprocess__table-cell ourprocess__table-cell-top">
            <div class="ourprocess__table-num">3</div>
            <h5 class="ourprocess__table-title">Acceptance</h5>
        </div>
        <div class="ourprocess__table-cell">
            <h5 class="ourprocess__table-descr">You sign an investment contract with Sunny Development Group and make a downpayment of 25%. The construction process starts within 10 days.</h5>
        </div>
        <div class="ourprocess__table-cell">
            <h5 class="ourprocess__table-descr">You pay in stages for ten months (5% monthly). During this period, you regularly get a summary of the progress made in each key area of the project (with photos).</h5>
        </div>
        <div class="ourprocess__table-cell">
            <h5 class="ourprocess__table-descr">The property is built, you are able to verify all the details and make the final payment of 25%. You get the documents and keys.</h5>
        </div>
    </div>

    <div class="ourprocess__btn btn-standart">
        Check out the last construction reports 
    </div>

</div>