<div class="schedule">
    <div class="schedule__container container">
        <div class="schedule__img">
            <img src="../images/schedule.png" alt="" srcset="">
        </div>

        <div class="schedule__inner">
                    <div class="schedule__content">
                    <h4 class="schedule__title">
                        Why is Bali island a good option for investment?
                    </h4>
        
                    <h6 class="schedule__subtitle">
                        Bali is a popular destination for tourists all over the world. The tourist traffic had growing annually before the pandemic, reaching 6.3mln in 2019
                    </h6>

                    <img class="schedule__img-mob" src="../images/schedule.png" alt="" srcset="">
        
                    <ul class="schedule__list">
                        <li class="schedule__list-elem">
                            <h6 class="schedule__list-title">
                                Good investment climate
                            </h6>
                            <p class="schedule__list-text">
                                Indonesia is in second place in 2021 among countries to invest in, according to U.S News.
                            </p>
                        </li>
                        <li class="schedule__list-elem">
                            <h6 class="schedule__list-title">
                                Tourists’ choice
                            </h6>
                            <p class="schedule__list-text">
                                Bali is #1 TripAdvisor Travelers' Choice Award in 2017 and 2021 rankings.
                            </p>
                        </li>
                        <li class="schedule__list-elem">
                            <h6 class="p schedule__list-title">
                                Fully yours
                            </h6>
                            <p class="schedule__list-text">
                                Bali real estate does not need to be declared in your home country, so you save on taxes.
                            </p>
                        </li>

                        
                    </ul>
                    <div class="schedule__btn btn-standart">
                        read More REASONS
                    </div>
                </div>          
        </div>
    </div>
</div>






