<div class="subheader">
    <h3 class="subheader__title">
        Invest in villa complex development in Bali
    </h3>

    <h6 class="subheader__subtitle">
        Own a premium villa that will multiply your wealth
    </h6>
    <h6 class="subheader__subtitle">
        Let us manage the property and rent it out on your behalf, offering:
    </h6>

    <div class="subheader__table">
        <div class="subheader__cell">
            <h2 class="subheader__table-big">12-22%</h2>
            <p>per annum</p>
        </div>
        <div class="subheader__cell">
            <h2 class="subheader__table-big">4-8</h2>
            <p>years to recoup</p>
        </div>
    </div>

    <p class="subheader__text">
        No hands-on management required
    </p>

    <h5 class="subheader__or">
        or
    </h5>

    <h6 class="subheader__subtitle">
        We’ll sell it for 115-130% in 5 months after construction or we’ll buy it out
    </h6>

    <div class="subheader__btns">
        <div class="subheader__btn btn-standart">
            GET calculations
        </div>
        <div class="subheader__btn btn-standart">
            Contact Manager
        </div>
    </div>

</div>