<div class="terms">
    <div class="terms__container container">
        <div class="terms__inner">
                <div class="terms__content">
                    <h2 class="terms__title">
                        Investment Terms
                    </h2>
                    <ul class="terms__price-list">
                        <li class="terms__price-elem">
                            <h5 class="terms__product">
                                3 bedroom villa 
                            </h5>
                            <h2 class="terms__price-cost">
                                350,000 USD
                            </h2>
                        </li>
                        <li class="terms__price-elem">
                            <h5 class="terms__product">
                                3 bedroom + rooftop
                            </h5>
                            <h2 class="terms__price-cost">
                                380,000 USD
                            </h2>
                        </li>
                        <li class="terms__price-elem">
                            <h5 class="terms__product">
                                4 bedroom villa
                            </h5>
                            <h2 class="terms__price-cost">
                                420,000 USD
                            </h2>
                        </li>                 
                    </ul>

                    <ul class="terms__additional-info-list">
                        <li class="terms__additional-info-list-elem">
                             <div class="terms__flex">
                                <p class="terms__bitc-text terms__text">We accept any payment you choose, even Cryptocurrency</p>
                                <img class="terms__bitc" src="../images/bitcoin.png" alt="" srcset="">
                             </div>
                        </li>
                        <li class="terms__additional-info-list-elem">
                            <p class="terms__text">Signing the contract and making payments is possible from anywhere in the world</p>
                        </li>
                    </ul>

                    <ul class="terms__price-includes-list">
                        <h5 class="terms__price-includes-title">
                            Price includes:
                        </h5>
                        <li class="terms__price-includes-elem">
                           <p class="terms__text"> Modern villa with finishing, furniture, and home appliance</p>
                        </li>
                        <li class="terms__price-includes-elem">
                            <p class="terms__text">Water and electricity supply</p>
                        </li>
                        <li class="terms__price-includes-elem">
                            <p class="terms__text">One-year villa insurance*</p>
                        </li>
                        <li class="terms__price-includes-elem">
                           <p class="terms__text"> Land lease for 25 years</p>
                        </li>
                    </ul> 
                    <p class="terms__text">
                        * you can renew insurance in a year
                    </p>  
                </div>          
        </div>

        <div class="terms__img img-gradient">
            <img src="../images/investment-terms-2075.jpg" alt="" srcset="">
        </div>
    </div>
</div>

    





