<div class="tour">
    <div class="tour__container container">
        <div class="tour__inner">
                <div class="tour__content">
                     <h5 class="tour__title">
                        Unmatched attention to the details for the most pleasurable accommodation experience possible.
                     </h5>
                     <h6 class="tour__subtitle">
                        Press on photo or arrows to discover our villas’ key features
                     </h6>                 
                </div>  

                <div class="tour__content-inner">
                    <p class="tour__text">
                        Ready for a virtual tour?
                     </p>
                     <div class="tour__btn btn-gradient">
                        Open the Villa  Tour
                    </div> 
                 </div>
                
                      
        </div>

        <div class="tour__slider slider">
            <div class="slider__frame">
                <img class="slider__elem" src="../images/image-big-slider1.png" alt="" srcset="">
                <img class="slider__elem" src="../images/image-big-slider1.png" alt="" srcset="">
                <img class="slider__elem" src="../images/image-big-slider1.png" alt="" srcset="">
            </div>

            <div class="slider__arrow-left"> <span class="slider__line"></span> </div>
            <div class="slider__arrow-right"> <span class="slider__line slider__line-right"></span> </div>
        </div>
    </div>
</div>

    





