<div class="tour">
    <div class="tour__container container">
        <div class="tour__slider" data-tour-slider>
            <div class="tour__slider-inner" data-tour-slider-inner>
                <div class="tour__slider-slide" id='1'>
                    <div class="tour__slider-description">
                        <h5 class="tour__slider-description-text">
                            Unmatched attention to the details for the most pleasurable accommodation experience possible.
                         </h5>
                         <h6 class="tour__slider-subtext">
                            Press on photo or arrows to discover our villas’ key features
                         </h6>  
                         
                         <h5 class="tour__slider-description-text-mob">
                            High-quality finishing 
                         </h5>
                         <h5 class="tour__slider-description-text-mob">
                            Cozy furniture and the best home appliances
                         </h5>
                    </div>
        
                    <div class="tour__slider-picture">
                        <picture>
                            <source class="tour__slider-img" srcset="../images/villa-tour-slide-1-840.jpg 1001w, ../images/villa-tour-slide-1-1050.jpg 1000w">
                            <img class="tour__slider-img"  src="" alt="">
                        </picture>
                    </div>
                </div>
                
                <div class="tour__slider-slide" id='2' data-tour-slider-slide>
                    <div class="tour__slider-description">
                        <h5 class="tour__slider-description-text">
                            Three-meter ceilings
                         </h5>
                         <h5 class="tour__slider-description-text">
                            Big windows and wide stairs
                        </h5>
                    </div>
        
                    <div class="tour__slider-picture">
                        <picture>
                            <source class="tour__slider-img" srcset="../images/villa-tour-slide-2-840.jpg 1001w, ../images/villa-tour-slide-2-1050.jpg 1000w">
                            <img class="tour__slider-img"  src="" alt="">
                        </picture>
                    </div>
                </div>
                <div class="tour__slider-slide" id='3' data-tour-slider-slide>
                    <div class="tour__slider-description">
                        <h5 class="tour__slider-description-text">
                            3-4 spacious bedrooms
                         </h5>
                         <h5 class="tour__slider-description-text">
                            A comfortable study
                        </h5>           
                    </div>
        
                    <div class="tour__slider-picture">
                        <picture>
                            <source class="tour__slider-img" srcset="../images/villa-tour-slide-3-840.jpg 1001w, ../images/villa-tour-slide-3-1050.jpg 1000w">
                            <img class="tour__slider-img"  src="" alt="">
                        </picture>
                    </div>
                </div>
                <div class="tour__slider-slide" id='4' data-tour-slider-slide>
                    <div class="tour__slider-description">
                        <h5 class="tour__slider-description-text">
                            Four functional and aesthetic bathrooms
                        </h5>                    
                    </div>
        
                    <div class="tour__slider-picture">
                        <picture>
                            <source class="tour__slider-img" srcset="../images/villa-tour-slide-4-840.jpg 1001w, ../images/villa-tour-slide-4-1050.jpg 1000w">
                            <img class="tour__slider-img"  src="" alt="">
                        </picture>
                    </div>
                </div>
                <div class="tour__slider-slide" id='5' data-tour-slider-slide>
                    <div class="tour__slider-description">
                        <h5 class="tour__slider-description-text">
                            A garden, yoga space, and BBQ area on the rooftop
                         </h5>
                    </div>
        
                    <div class="tour__slider-picture">
                        <picture>
                            <source class="tour__slider-img" srcset="../images/villa-tour-slide-5-840.jpg 1001w, ../images/villa-tour-slide-5-1050.jpg 1000w">
                            <img class="tour__slider-img"  src="" alt="">
                        </picture>
                    </div>
                </div>
                <div class="tour__slider-slide" id='6' data-tour-slider-slide>
                    <div class="tour__slider-description">
                        <h5 class="tour__slider-description-text">
                            Gated community
                         </h5>
                    </div>
        
                    <div class="tour__slider-picture">
                        <picture>
                            <source class="tour__slider-img" srcset="../images/villa-tour-slide-6-840.jpg 1001w, ../images/villa-tour-slide-3-1050.jpg 1000w">
                            <img class="tour__slider-img"  src="" alt="">
                        </picture>
                    </div>
                </div>
                <div class="tour__slider-slide" id='7' data-tour-slider-slide>
                    <div class="tour__slider-description">
                        <h5 class="tour__slider-description-text">
                            A swimming pool size of ​​32m² on the sunset side
                         </h5>  
                    </div>
        
                    <div class="tour__slider-picture">
                        <picture>
                            <source class="tour__slider-img" srcset="../images/villa-tour-slide-7-840.jpg 1001w, ../images/villa-tour-slide-7-1050.jpg 1000w">
                            <img class="tour__slider-img"  src="" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="tour__start">
            <p class="tour__start-question">
                Ready for a virtual tour?
             </p>
             <div class="tour__start-btn hover-default">
                Open the Villa  Tour
            </div> 
        </div> 
    
        <div class="tour__arrow-left " data-tour-slide-prev> <span class="tour__line"></span> </div>
        <div class="tour__arrow-right" data-tour-slide-next> <span class="tour__line tour__line-right"></span></div>
    </div>
</div>


    





